@page "/login"
@using System.Net.Http
@inject NavigationManager Navigation
@inject Blazor.Services.APIService ApiService

@if (showMessage)
{
    <div class="error-box">
        ❌ @errorMessage
    </div>
}

<div class="form-wrapper">
    <h3>Login</h3>
    <EditForm model="user" method="post" OnValidSubmit="() => HandleSubmitAsync()" FormName="LoginForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="text-field">
            <label for="email">E-mail:</label>
            <InputText id="email" @bind-Value="user.Email" class="input" />
            <ValidationMessage For="@(() => user.Email)" />
        </div>

        <div class="text-field">
            <label for="password">Password:</label>
            <InputText id="password" type="password" @bind-Value="user.Password" class="input" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>

        <button type="submit" class="submit-button">LOGIN</button>

        <p class="to-register">
            Don't have an account? <a href="/register">Register now</a>
        </p>
    </EditForm>
</div>

@code {
    UserLoginDto user = new UserLoginDto();
    string errorMessage = "Incorrect login or password. Please try again.";
    bool showMessage = false;

    private async Task HandleSubmitAsync()
    {
        showMessage = false;

        bool success = await ApiService.Login(user);

        if (success)
        {
            Navigation.NavigateTo("/", forceLoad: true);
        }
        else
        {
            showMessage = true;
        }
    }
}
